body{
	background:#eee;
}
html, body {
	height: 100%;
	width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

#wrapper{
	min-height:100%;
	padding-bottom:50px;
}

#header{
	background:#FF7A00;
	padding:0;
	margin:0;
	border-bottom: 3px solid #fff;
}
#main{
	margin-top:2em;
}
.info-box{
	background: #fff;
	-webkit-box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
	box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}


.footer-row{
	padding:8px 0 15px 0;
	height:50px;
	background: #fff;
	margin-top:-50px;
}